<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Novo usuário de nome: <%= @user.name %> foi cadastrado a X-Solar Tech</h1>
</body>
</html>