@import "bootstrap";
@import "bulma";
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

body{
  background-image: url("http://news.nus.edu.sg/sites/default/files/resources/highlights/2017/2017-10/solar_energy/solar_energy-1.jpg");
  height: 800px;

}

.navi{
  background-color: whitesmoke;
  opacity: 0.7;
  border-radius: 5px;
}

.card{
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 0px;
  width: 60%;
  margin: auto;
  height: 500px;
  font-size: large;
  background-color: whitesmoke;
  opacity: 0.8;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

.card2 {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 0px;
  width: 80%;
  margin: auto;
  height: 500px;
  font-size: large;
  background-color: whitesmoke;
  opacity: 0.8;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}


